[Unit]
Description=Streamlit Application
After=network.target

[Service]
User=%username%
Group=%groupname%
WorkingDirectory=%currentpath%
ExecStart=%currentpath%/bin/python3 -m streamlit run Main.py --server.port 8501 --server.headless true
Restart=always
RestartSec=3
Environment="PATH=%currentpath%/bin"

[Install]
WantedBy=multi-user.target
